@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;

    .head {
        display: flex;
        flex-flow: column nowrap;
        gap: .7em;
        padding: 1.5em;
        background-color: var(--color-surface-glass-secondary);
        border-radius: 1rem;

        .title {
            font-size: 1.3em;
            font-weight: 600;
            line-height: 1.2;
        }
        .description {
            font-size: 1em;
            color: var(--color-text-secondary);
            line-height: 1.3;
        }
    }
    .warning {
        line-height: 1.3;
        padding: .4em;
    }
}