@use '@/assets/styles/_mixins.scss' as *;

.centerGrid {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    font-size: .8em;

    .print {
        flex: 1;
        max-width: 32rem;
    }
}

.grid {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    min-height: 100vh;
    flex: 1;
    font-size: .8em;

    .control {
        display: flex;
        flex: 1;
        max-width: 35rem;
        flex-flow: column nowrap;
        gap: .6rem;

        .info {
            font-size: 1.3em;
        }
    }
    .positions {
        display: flex;
        flex: 1;
        background-color: var(--color-surface-glass);
        border-radius: .7rem;

        .structure {
            flex: 1;
        }
    }
}