@use '@/assets/styles/_mixins.scss' as *;

.status {
    display: flex;
    flex-flow: row nowrap;
    min-height: 3em;
    border: 1px dashed var(--color-stroke-secondary);
    transition: background-color var(--transition);
    align-items: center;
    padding: .3em 1em;
    position: relative;
    overflow: hidden;
    padding-right: 1.5em;


    .mark {
        display: inline-flex;
        background-color: var(--color-surface-light);
        width: 1em;
        position: absolute;
        z-index: 10;
        right: 0;
        width: .3em;
        height: 100%;
        border-top-left-radius: .2em;
        border-bottom-left-radius: .2em;
    }

    .sort {
        display: inline-block;
        @include text-ellipsis();
        width: 2em;
        text-align: left;
        color: var(--color-text-secondary);
    }

    .info {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        font-size: .8em;
        justify-content: start;
        gap: .6em;
        flex: 1;
        overflow: hidden;

        .name {
            font-weight: 600;
            letter-spacing: .02em;
            @include text-ellipsis();
            width: fit-content;
        }
        .tag {
            display: inline-block;
            padding: .4em .5em;
            border-radius: 1em;
            white-space: nowrap;
            font-family: .8em;
            color: var(--color-text-secondary);
            border: 2px dashed var(--color-stroke-primary);
        }
    }

    .actions {
        display: flex;
        flex-flow: row nowrap;
        gap: .4em;
        font-size: .7em;
        align-items: center;

        .action {
            transition: transform var(--transition);

            &:hover {
                transform: scale(1.04);
            }
        }
    }

    &:hover {
        background-color: var(--color-surface-elevated);
        @include cursor(pointer);
    }
}