@use '@/assets/styles/_mixins.scss' as *;

.card {
    display: flex;
    min-height: 4em;
    @include cursor(pointer);
    flex-flow: row nowrap;
    gap: 0;
    overflow: hidden;
    position: relative;

    .indicator {
        display: flex;
        padding: 0 1.1em;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: background-color var(--transition);
        min-width: 2.8em;

        .circle {
            width: .6em;
            min-width: .6em;
            min-height: .6em;
            height: .6em;
            background-color: var(--color-surface-light);
            border-radius: 50%;
            transition: background-color var(--transition);

            &.accent {
                background-color: var(--color-accent);
            }
        }

        &.shimmer {
            @include shimmer();
        }

        &:hover {
            background-color: var(--color-leader);
        }
    }

    .badge {
        position: absolute;
        z-index: 10;
        bottom: 0;
        right: 0;
        padding: .3em .5em;
        background-color: var(--color-accent);
        color: var(--color-accent-text-primary);
        border-top-left-radius: .4em;
    }

    .info {
        display: flex;
        padding: .8em 1.1em .8em .6em;
        flex-flow: column nowrap;
        gap: .4em;
        justify-content: center;
        overflow: hidden;

        .title {
            @include text-ellipsis();
        }
        .text {
            @include lines-ellipsis(2);
            line-height: 1.3;
            font-size: .9em;
            color: var(--color-text-ghost);
            transition: color var(--transition);

            &.fresh {
                color: var(--color-text-primary);
            }
        }
        .date {
            font-size: .9em;
            color: var(--color-text-ghost);
        }
    }

    &.fresh {
        
    }
}