@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    min-height: 100%;
    flex-flow: column nowrap;
    gap: .9rem;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - var(--header-height) - 4rem);

    .welcome {
        display: flex;
        flex-flow: column nowrap;
        gap: .5rem;
        align-items: center;
        justify-content: center;
        min-height: 7rem;

        .subtitle, .title, .about {
            text-align: center;
            line-height: 1.3;
        }
        .subtitle, .title {
            color: var(--color-text-primary);

            .accent {
                color: var(--color-accent);
            }
        }
        .title {
            font-size: 1.8em;
            font-weight: 600;
            letter-spacing: .02em;
            line-height: 1.1 !important;
        }
        .about {
            color: var(--color-text-secondary);
            font-size: .93em;
        }
    }

    .section {
        display: flex;
        flex-flow: column nowrap;
        gap: .6rem;
        max-width: 30rem;
        width: 100%;

        .title {
            font-size: 1.1em;
            letter-spacing: .02em;
            font-weight: 600;
            line-height: 1.1;
        }
        .area {
            background-color: var(--color-surface-glass-secondary);
            border-radius: .4rem;
            min-height: 10rem;
            padding: 1rem;
            border: 1px solid var(--color-stroke-primary);
        }
    }

    // overview
    .section.overview .area {
        position: relative;
        overflow: hidden;
        min-height: 20rem;
        background-color: var(--color-accent);

        .img {
            position: absolute;
            z-index: 10;
            right: 0;
            bottom: 0;
            height: 95%;
        }

        @media (max-width: 720px) {
            min-height: 12.5rem;

            .img {
                height: auto;
                width: 95%;
            }
        }
    }

    // divorce
    .section.divorce .area {
        display: flex;
        flex-flow: row wrap;
        min-height: fit-content;
        gap: .5rem;
        padding: 0;
        background-color: transparent;
        border: none;

        .item {
            display: flex;
            min-width: calc(50% - .25rem);
            max-width: calc(50% - .25rem);
            min-height: 3rem;
            background-color: var(--color-surface-glass);
            border: 1px solid var(--color-stroke-secondary);
            border-radius: .38rem;
            flex-flow: row nowrap;
            padding: .7em .8em;
            overflow: hidden;
            gap: 1em;
            transition: transform var(--transition);

            .icon svg {
                width: 1.5em;
                height: 1.5em;
                fill: var(--color-icon-primary);
            }
            .info {
                display: flex;
                flex-flow: column nowrap;
                gap: .24em;
                font-size: .84em;

                .title {
                    font-size: .9em;
                }

                .description {
                    line-height: 1.3;
                    font-size: .9em;
                }
            }

            &:hover {
                transform: scale(1.02);
            }

            &.accent {
                background-color: var(--color-accent);
                color: var(--color-accent-text-primary);

                .icon svg {
                    fill: var(--color-accent-text-primary);
                }
            }
        }
    }

    // companies
    .section.companies .area {
        display: flex;
        flex-flow: column nowrap;
        gap: .2rem;

        .plug {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            gap: .4rem;
            flex-flow: column nowrap;

            .icon {
                width: 3em;
                height: 3em;
                fill: var(--color-icon-primary);
            }

            .text {
                text-align: center;
                line-height: 1.3;
                font-size: .8em;
            }
        }

        .item {
            transition: background-color var(--transition);
            padding: .6em .6em !important;
            border-radius: .5em;

            &:hover {
                background-color: var(--color-surface-elevated);
            }
        }
    }

    // help
    .section.help .area {
        display: flex;
        flex-flow: column nowrap;
        // gap: .4rem;
        font-size: .9em;

        .item {
            display: flex;
            flex-flow: row nowrap;
            border-top: 1px solid var(--color-stroke-primary);
            min-height: 3em;
            padding: .8em .8em;
            border-radius: .2em;
            // background-color: var(--color-surface-light);
            // transition: background-color var(--transition),
            //             color var(--transition);

            .name {
                line-height: 1.3;
            }

            &:hover {
                background-color: var(--color-accent);
                color: var(--color-accent-text-primary);
            }
        }
    }

    // footer
    .section.footer .area {
        display: flex;
        flex-flow: column nowrap;
        gap: .4em;
        min-height: fit-content;
        align-items: center;
        font-size: .8em;

        .capture, .about, .version {
            text-align: center;
        }
        .capture {
            color: var(--color-text-ghost);
        }
        .version {
            color: var(--color-accent);
        }
    }

    @media (max-width: 720px) {
        .section.section.divorce .area {
            flex-flow: column nowrap;

            .item {
                min-width: 100%;
                max-width: 100%;
            }
        }
    }
}