@use '@/assets/styles/_mixins.scss' as *;

.slide {
    display: flex;
    flex-flow: column nowrap;

    .col {
        display: flex;
        flex-flow: row nowrap;
        gap: .5rem;

        &:nth-child(1) {
            gap: 2rem;

            @media (max-width: 720px) {
                gap: .7rem;
            }
        }
        &:nth-child(2) {
            flex-wrap: wrap;
            gap: 1rem .5rem;
            padding: 1rem 0;
            border-top: 1px dashed var(--color-stroke-secondary);
        }

        @media (max-width: 720px) {
            flex-direction: column;
        }
    }
    
    .info {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        max-width: 20rem;
        padding: 1.4rem 0;
        color: var(--color-text-primary);
        z-index: 2;
        
        .subTitle {
            font-weight: 600;
            font-size: .7em;
            margin-bottom: .2rem;
            color: var(--color-text-ghost);
        }
        .title {
            font-weight: 600;
            font-size: 2.3em;

            .icon {
                margin-right: .2em;

                svg {
                    width: .8em;
                    height: .8em;
                }
            }
            .name {
                // line-height: 1.3;
            }
        }
        .description {
            line-height: 1.3;
            font-size: .72em;
            color: var(--color-text-secondary);
        }
        .actions {
            font-weight: 500;
            font-size: .72em;
            display: flex;
            flex-flow: row wrap;
            gap: .5rem;
            border-color: #000;

            .cut {
                @include text-ellipsis();
                max-width: 5rem;
            }
        }

        @media (max-width: 720px) {
            max-width: 100%;
            padding: 0;

            .title {
                font-size: 1.8em;
            }
            .description {
                font-size: .7em;
            }
            .actions {
                font-size: .6em;
            }
        }
    }
    .preview {
        display: flex;
        flex: 1;
        justify-content: end;
        align-items: end;

        .mockUp {
            height: 100%;
            border-right: 1px dashed var(--color-stroke-secondary);
        }

        @media (max-width: 720px) {
            .mockUp {
                height: auto;
                width: 100%;
            }
        }
    }
    .feature {
        display: flex;
        min-width: 11rem;
        max-width: 11rem;
        flex-flow: column nowrap;
        gap: .2rem;
        font-size: .8em;
        padding: .2rem 0;

        .title {
            font-weight: 600;
            color: var(--color-text-primary);
        }
        .description {
            font-weight: 600;
            color: var(--color-text-secondary);
        }
        .title, .description {
            line-height: 1.3;
        }

        @media (max-width: 720px) {
            min-width: 100%;
            max-width: 100%;
            font-size: .7em;
        }
    }
}